<span style="color:brown"> __There are about 7 lessons and Project in this Chapter *Introduction to SQL*.__</span>

***

# <span style="color:blue"> 2.1 Basic SQL </span>

- SQL stands for Structured Query Language.
- SQL is the language to interact with the database. 
- SQL is most popular for its interaction with databases.

- In Parch & Posey database we have 5 tables/spreadsheets,
    1. web_events
    2. accounts
    3. orders
    4. sales_reps
    5. region

## SQL to interact with single table:

### SQL:
A language that allows us to access data stored in a database.

### ERD:
A diagram that shows how data is structured in a database.

### Database:
A collection of tables that share connected data stored in a computer.

### Table information:
Each table is provided with a table name and many column names.

## What are the advantages of using SQL?
1. SQL is easy to understand.
2. Traditional databases allow us to access data directly.
3. Traditional databases allow us to audit and replicate our data. 
4. SQL is a great tool for analyzing multiple tables at once. 
5. SQL allows you to analyze more complex questions than dashboard tools like Goolge Analytics.

## SQL vs no SQL

- __SQL__ basically is used on data that lives on spreadsheets.
- __NoSQL__ is particularly popular for web based data.
- [_MongoDB_](https://www.udacity.com/course/data-wrangling-with-mongodb--ud032) is one of the most popular NoSQL languages.

## Why do Business like Databases?
1. Data integrity is ensured. 
2. Data can be accessed quickly.
3. Data is easily shared.

## Types of Databases
1. MySQL
2. Access
3. Oracle
4. Microsoft SQL server
5. Postgres

Article that compares relational databases -> [click here!](https://www.digitalocean.com/community/tutorials/sqlite-vs-mysql-vs-postgresql-a-comparison-of-relational-database-management-systems)

### SQL statements:
Statements tell that database what you'd like to do with the data. 
1. CREATE TABLE - create a table from database (change the data in the database)
2. DROP TABLE - remove a table from database (change the data in the database)
3. SELECT - select a table from database (query)

### SELECT:

Select information from a table.

### SQL Best practices:

- SQL queries are not case-sensitive.
- Capitalize all SQL commands and everything else in lower case.
- Use of semicolon at the end of each statement.
- SQL ignores spaces.

### LIMIT clause:
To limit just first n rows of the results.

### ORBER BY clause:
- Display results in a sorted order.
- Written in between FROM and LIMIT.
- Order of the statements matter in SQL.
- inc_dec = DESC, ASC (default).
- ORDER BY column_name inc_dec

### WHERE clause:
- Allows to filter a set of results based on a criteria.
- After FROM and before ORDER BY & LIMIT. 
- Operators: =, !=, >,<,>=,<=
- Use single-quotes for string comparision.
- For non-numeric data,
    we use LIKE, NOT or IN operators.

### DERIVED COLUMNS:
- New arthimatic column data saved using AS new_name.
- +,-,*,/  are standard operations used. 
- PEDMAS order of operation.

### LOGICAL OPERATORS:
- **LIKE**: Same as WHERE and '='; but in cases one doesn't know what they are looking for. 
- **IN**: Same as WHERE and '='; but for more than one condition. Filter data based on several possbile values.
- **NOT**: Used in IN and LIKE for cases such as NOT LIKE and NOT IN.
- **AND** & **BETWEEN**: Combine operations where all the combined operations are true.
- **OR**: Combile operations where atleast one of the combined operations are true.
- Wildcards: %

## <span style="color:green"> Recap of Basic SQL commands </span>

- **SELECT**: SELECT col1, col2 
- **FROM**: FROM table
- **LIMIT**: LIMIT 10
- **ORDER BY**: ORDER BY col1 
- **WHERE**: WHERE col1 > 9
- **LIKE**: WHERE col1 LIKE '%metoo%'
- **IN**: WHERE col IN ('Y','N')
- **NOT**: WHERE col1 NOT IN ('Y','N')
- **AND**: WHERE col1 > 4 AND col2 < 2
- **OR**: WHERE col1 > 4 OR col2 < 2
- **BETWEEN**: WHERE col1 BETWEEN 2 AND 4
- The order of the key words does matter in SQL!

***

# <span style="color:blue"> 2.2 SQL Joins </span>

- Relational Databases
- Accessing multiple tables at a time
- [SQL Database normalization](https://www.itprotoday.com/sql-server/sql-design-why-you-need-database-normalization) to improve system performance and accuracy.

## Why is data organized by splitting into tables?
1. Each table is organized to save different type of objects
2. Allows execution of queries more quickly.

## JOIN caluse:
JOIN are similar to FROM (~ to 2nd FROM clause). This caluse tells a query about an additional table from which you would pull data.

## ON clause:
Specifies a logical statement to combine the table in from and join statement.

**Entity Relationship Diagram (ERD)** is a common way to view data in a database. It holds the key in understanding how to pull data from multiple tables.

**Primary Key (PK)** is a unique column in a particular table.

**Foreign Key (FK)** is a column in one table that is a primary key in some other table.

- In an SQL query to join two tables, one is in the FROM and the other is in the JOIN. Then in the ON, we will ALWAYs have the PK equal to the FK.

## JOIN more than two tables:
- Same structure as joining two tables
- JOIN followed by ON for 1st table; JOIN followed by ON for 2nd table.

## ALIASES:
- It is easy, nice & efficient to give each table an *alias*.
- **AS** can be used to define alias name or simply give a space and alias name.

## LEFT, RIGHT & FULL OUTER JOIN:
- LEFT JOIN gives same result as INNER JOIN: Match across two tables
-

## <span style="color:green"> Recap of SQL JOIN: </span>
- **Primary Key (PK)**
- **Foreign Key (FK)**
- **JOIN** or an **INNER JOIN** only pulls data that exists in both tables. Similar to INTERSECTION between two sets (i.e., tables here!)
- __Types of joins__:
    - **LEFT JOIN** pulls data that exists in both tables, as well as all of the rows from the table in the **FROM** even if they do not exist in the **JOIN** statement. Similart to  
    - **RIGHT JOIN** pulls data that exists in both tables, as well as all of the rows from the table in the **JOIN** even if they do not exist in the **FROM** statement. 
    - **FULL OUTER JOIN** same as INNER JOIN but with all unmatched data in **FROM** and **JOIN** statements. Use cases of this type of join are _very rare_.
    
- Advanced joins that are present and not covered: *UNION and UNION ALL*, *CROSS JOIN*, *SELF JOIN*.
- Useful aliasing clause **AS**.

***

# <span style="color:blue"> 2.3 SQL Aggregating </span>

These functions work across columns not rows. 
- **COUNT**: counts how many rows are in a particular column
- **SUM**: adds all the values in a particular column
- **MIN & MAX**: returns the lowest and highest values in a particular column
- **AVERAGE**: returns average of all values in a particular column; Average function avoids NULLS completely both in numerator and denominator.
- **NULLS**: zero or no value; Use *IS NULL* as it is a property of data not value.

### GROUP BY Clause:
- Allows creation of segments that will aggregate independent from one another.

### DISTINCT Clause:
- Can be used instead of GROUP BY.

### HAVING:
- WHERE clause doesn't allow use to filter across aggregate column. HAVING clause can be used here!

### DATE Function:
A lot of information is generally withheld in datetime. Let's make our own way (for furture works) to systematically extract as much information as possible from date function. 
- We use DATE_TRUNC('day', col_datetime) to group by *day*.
- We use DATE_TRUNC('month', col_datetime) to group by *month*.
- We use DATE_TRUNC('year', col_datetime) to group by *year*.
- We use DATE_TRUNC('second', col_datetime) to group by *second*.
- We use DATE_TRUNC('dow', col_datetime) to group by *day of week*.
- DATE_PART: has same functionality as DATE_TRUNC except that it only prints out the selected format i.e., day, mointh, year, second, dow etc.,

### CASE Statement:
- To create DERIVED/NEW columns 
- Follows a sequence of WHEN, THEN clauses & finishes with END ; i.e., Similar to using IF THEN

## <span style="color:green"> Recap of SQL JOINs and Aggregation: </span>
- SQL is so powerful mainly due to the combination of JOINs and Aggregations.

***

# <span style="color:blue"> 2.4 SQL Subqueries & Table expressions </span>
- Methods used to organize, speedup your SQL query. 
- Subqueries allows us to answer more complex questions than we can using a single database table. 
-

## WITH-AS:
- WITH table is commonly called as "Common Table Expressions (CTEs)"
- WITH tab1 AS: to precalculate few important variables for later usage.
- WITH can perform the same task a subquery.
- All queries written using "subquery mania" can be written using WITH. 
- CTEs are easily readable, fast and reproducable.

***

## Solutions: Practise questions from 'Subquery Mania'

<span style="color:red"> Problem-1: Provide the name of the sales_rep in each region with the largest amount of total_amt_usd sales. </span>

```sql

SELECT  T3.sales_rep_name, 
        T3.region_name, 
        T3.sum_total
FROM
    (SELECT region_name,
            MAX(sum_total) max_total
    FROM 
        (SELECT s.name sales_rep_name,
                r.name region_name, 
                SUM(o.total_amt_usd) sum_total
        FROM sales_reps AS s
        JOIN region AS r
            ON r.id = s.region_id
        JOIN accounts AS a
            ON s.id = a.sales_rep_id
        JOIN orders AS o
            ON a.id = o.account_id
        GROUP BY s.name, r.name
        ORDER BY sum_total) T1
    GROUP BY region_name) T2
JOIN
    (SELECT s.name sales_rep_name,
            r.name region_name, 
            SUM(o.total_amt_usd) sum_total
    FROM sales_reps AS s
    JOIN region AS r
        ON r.id = s.region_id
    JOIN accounts AS a
        ON s.id = a.sales_rep_id
    JOIN orders AS o
        ON a.id = o.account_id
    GROUP BY s.name, r.name
    ORDER BY sum_total) T3
ON T2.region_name = T3.region_name AND T2.max_total = T3.sum_total;

```

<span style="color:red"> Problem-2: For the region with the largest (sum) of sales total_amt_usd, how many total (count) orders were placed? </span>

```sql 
SELECT r.name region_name, 
       COUNT(o.total) count_total
FROM sales_reps AS s
JOIN region AS r
    ON r.id = s.region_id
JOIN accounts AS a
    ON s.id = a.sales_rep_id
JOIN orders AS o
    ON a.id = o.account_id
GROUP BY r.name
HAVING SUM(o.total_amt_usd) = (SELECT MAX(sum_total) 
        FROM
            (SELECT r.name region_name, 
                   SUM(o.total_amt_usd) sum_total
            FROM sales_reps AS s
            JOIN region AS r
                ON r.id = s.region_id
            JOIN accounts AS a
                ON s.id = a.sales_rep_id
            JOIN orders AS o
                ON a.id = o.account_id
            GROUP BY r.name) T);
    
```

<span style="color:red"> Problem-3: How many accounts had more total purchases than the account name which has bought the most standard_qty paper throughout their lifetime as a customer?  </span>

```sql
SELECT COUNT(*)
FROM
    (SELECT a.name AS act_name_gt
    FROM accounts AS a
    JOIN orders o
        ON o.account_id = a.id
    GROUP BY 1
    HAVING SUM(o.total) >  
        (SELECT sum_total
        FROM 
            (SELECT  a.name AS account_name, 
                    SUM(o.standard_qty) AS sum_std_qty,
                    SUM(o.total) AS sum_total
            FROM accounts AS a 
            JOIN orders AS o
            ON a.id = o.account_id
            GROUP BY 1
            ORDER BY 2 DESC
            LIMIT 1
            ) sq1 
        )
    ) sq2;

```

<span style="color:red"> Problem-4: For the customer that spent the most (in total over their lifetime as a customer) total_amt_usd, how many web_events did they have for each channel? </span>

```sql

SELECT  a.name cname, 
        w.channel channel, 
        COUNT(*) count_events
FROM accounts AS a
JOIN web_events AS w
    ON w.account_id = a.id AND a.id =
    (SELECT aid
    FROM 
        (SELECT  a.id AS aid,
                SUM(o.total_amt_usd) AS sum_total
        FROM orders AS o
        JOIN accounts AS a
            ON a.id = o.account_id
        GROUP BY 1
        ORDER BY 2 DESC 
        LIMIT 1
        ) sq1
    )
    GROUP BY 1,2
    ORDER BY 3 DESC;
       

```

<span style="color:red"> Problem-5: What is the lifetime average amount spent in terms of total_amt_usd for the top 10 total spending accounts? </span>

```sql

SELECT AVG(tot_spent) 
FROM 
    (SELECT  a.id, 
            a.name, 
            SUM(o.total_amt_usd) tot_spent
    FROM accounts a
    JOIN orders o
        ON a.id = o.account_id
        GROUP BY 1,2
        ORDER BY 3 DESC
        LIMIT 10
    ) sq1
```

<span style="color:red"> Problem-6: What is the lifetime average amount spent in terms of total_amt_usd, including only the companies that spent more per order, on average, than the average of all orders. </span>

```sql

SELECT AVG(avg_amt)
FROM (SELECT o.account_id, AVG(o.total_amt_usd) avg_amt
    FROM orders o
    GROUP BY 1
    HAVING AVG(o.total_amt_usd) > (SELECT AVG(o.total_amt_usd) avg_all
                                   FROM orders o)) temp_table;


```

### My First Common Table Expression (CTE):
- Find the average number of events for each channel per day.

```sql

WITH table1 AS (
          SELECT *
          FROM web_events),

     table2 AS (
          SELECT *
          FROM accounts)


SELECT *
FROM table1
JOIN table2
ON table1.account_id = table2.id;

```

***

## Solutions: Practise questions from 'Subquery Mania - CTEs'

<span style="color:red"> Problem-1: Provide the name of the sales_rep in each region with the largest amount of total_amt_usd sales. </span>

```sql

WITH T3 AS (SELECT s.name sales_rep_name,
                    r.name region_name, 
                    SUM(o.total_amt_usd) sum_total
            FROM sales_reps AS s
            JOIN region AS r
                ON r.id = s.region_id
            JOIN accounts AS a
                ON s.id = a.sales_rep_id
            JOIN orders AS o
                ON a.id = o.account_id
            GROUP BY s.name, r.name
            ORDER BY sum_total),
            
      T2 AS (SELECT region_name,
                    MAX(sum_total) max_total
            FROM 
                (SELECT s.name sales_rep_name,
                        r.name region_name, 
                        SUM(o.total_amt_usd) sum_total
                FROM sales_reps AS s
                JOIN region AS r
                    ON r.id = s.region_id
                JOIN accounts AS a
                    ON s.id = a.sales_rep_id
                JOIN orders AS o
                    ON a.id = o.account_id
                GROUP BY s.name, r.name
                ORDER BY sum_total) T1
            GROUP BY region_name)
            

SELECT  T3.sales_rep_name, 
        T3.region_name, 
        T3.sum_total
FROM T2
JOIN T3
ON T2.region_name = T3.region_name AND T2.max_total = T3.sum_total;

```

<span style="color:red"> Problem-2: For the region with the largest (sum) of sales total_amt_usd, how many total (count) orders were placed? </span>

```sql
WITH T AS (SELECT r.name region_name, 
                   SUM(o.total_amt_usd) sum_total
            FROM sales_reps AS s
            JOIN region AS r
                ON r.id = s.region_id
            JOIN accounts AS a
                ON s.id = a.sales_rep_id
            JOIN orders AS o
                ON a.id = o.account_id
            GROUP BY r.name)

SELECT r.name region_name, 
       COUNT(o.total) count_total
FROM sales_reps AS s
JOIN region AS r
    ON r.id = s.region_id
JOIN accounts AS a
    ON s.id = a.sales_rep_id
JOIN orders AS o
    ON a.id = o.account_id
GROUP BY r.name
HAVING SUM(o.total_amt_usd) = 
        (SELECT MAX(T.sum_total) 
        FROM T);
    
```

<span style="color:red"> Problem-3: How many accounts had more total purchases than the account name which has bought the most standard_qty paper throughout their lifetime as a customer?  </span>

```sql
WITH sq1 AS (SELECT  a.name AS account_name, 
                    SUM(o.standard_qty) AS sum_std_qty,
                    SUM(o.total) AS sum_total
            FROM accounts AS a 
            JOIN orders AS o
            ON a.id = o.account_id
            GROUP BY 1
            ORDER BY 2 DESC
            LIMIT 1)


SELECT COUNT(*)
FROM
    (SELECT a.name AS act_name_gt
    FROM accounts AS a
    JOIN orders o
        ON o.account_id = a.id
    GROUP BY 1
    HAVING SUM(o.total) >  
        (SELECT sum_total
        FROM sq1)
    ) sq2;

```

<span style="color:red"> Problem-4: For the customer that spent the most (in total over their lifetime as a customer) total_amt_usd, how many web_events did they have for each channel? </span>

```sql

WITH sq1 AS (SELECT  a.id AS aid,
                SUM(o.total_amt_usd) AS sum_total
        FROM orders AS o
        JOIN accounts AS a
            ON a.id = o.account_id
        GROUP BY 1
        ORDER BY 2 DESC 
        LIMIT 1
        )

SELECT  a.name cname, 
        w.channel channel, 
        COUNT(*) count_events
FROM accounts AS a
JOIN web_events AS w
    ON w.account_id = a.id AND a.id =
    (SELECT aid
    FROM sq1         
    )
    GROUP BY 1,2
    ORDER BY 3 DESC;
       

```

<span style="color:red"> Problem-5: What is the lifetime average amount spent in terms of total_amt_usd for the top 10 total spending accounts? </span>

```sql
WITH sq1 AS (SELECT  a.id, 
            a.name, 
            SUM(o.total_amt_usd) tot_spent
    FROM accounts a
    JOIN orders o
        ON a.id = o.account_id
        GROUP BY 1,2
        ORDER BY 3 DESC
        LIMIT 10
    )


SELECT AVG(tot_spent) 
FROM sq1

```

<span style="color:red"> Problem-6: What is the lifetime average amount spent in terms of total_amt_usd, including only the companies that spent more per order, on average, than the average of all orders. </span>

```sql

WITH temp_table AS (SELECT o.account_id, AVG(o.total_amt_usd) avg_amt
    FROM orders o
    GROUP BY 1
    HAVING AVG(o.total_amt_usd) > (SELECT AVG(o.total_amt_usd) avg_all
                                   FROM orders o))

SELECT AVG(avg_amt)
FROM temp_table;

```

## <span style="color:green"> Recap of Subqueries & CTEs </span>
- CTEs are more readable
- CTEs are more efficient, as the tables aren't recreated with each subquery portion.

***

# <span style="color:blue"> 2.5 SQL Cleaning </span>

- LEFT(str,nstr) function to pull *nstr* no. of characters from a string *str*. 
- Similarly, RIGHT(str,nstr) does the same on the right side of the string *str*.
- LENGTH function gives out length of a string.

- POSITION, STRPOS, SUBSTR: are used for string search
- UPPER or LOWER to change string Format

- CONCAT or ||: to perform concate two strings.

- CAST: Casting Month names into numbers!

- COALESE: When treating NULLs different from 0s.

***

# <span style="color:blue"> 2.6 SQL Window Functions </span>

- Excellent intro to [concept of Window Functions](https://www.postgresql.org/docs/9.1/tutorial-window.html) 
- A Window Function performs a calculation across a set of table rows that are somehow related to the current row.
- This is similar to the aggregate function; but, row can't be grouped into a single output.
- One can't include window functions in a GROUP BY clause.

### Advantage:
- SQL is mostly greate to perform column-wise calculation. 
- Window Function come into picture to perform row-wise calculation.
- Standard format is as below:

```sql

SELECT id,
       account_id,
       standard_qty,
       DATE_TRUNC('month', occurred_at) AS month,
       DENSE_RANK() OVER (PARTITION BY account_id ORDER BY DATE_TRUNC('month',occurred_at)) AS dense_rank,
       SUM(standard_qty) OVER (PARTITION BY account_id ORDER BY DATE_TRUNC('month',occurred_at)) AS sum_std_qty,
       COUNT(standard_qty) OVER (PARTITION BY account_id ORDER BY DATE_TRUNC('month',occurred_at)) AS count_std_qty,
       AVG(standard_qty) OVER (PARTITION BY account_id ORDER BY DATE_TRUNC('month',occurred_at)) AS avg_std_qty,
       MIN(standard_qty) OVER (PARTITION BY account_id ORDER BY DATE_TRUNC('month',occurred_at)) AS min_std_qty,
       MAX(standard_qty) OVER (PARTITION BY account_id ORDER BY DATE_TRUNC('month',occurred_at)) AS max_std_qty
FROM orders

```

```sql

SELECT id,
       account_id,
       DATE_TRUNC('year',occurred_at) AS year,
       DENSE_RANK() OVER account_year_window AS dense_rank,
       total_amt_usd,
       SUM(total_amt_usd) OVER account_year_window AS sum_total_amt_usd,
       COUNT(total_amt_usd) OVER account_year_window AS count_total_amt_usd,
       AVG(total_amt_usd) OVER account_year_window AS avg_total_amt_usd,
       MIN(total_amt_usd) OVER account_year_window AS min_total_amt_usd,
       MAX(total_amt_usd) OVER account_year_window AS max_total_amt_usd
FROM orders 
WINDOW account_year_window AS (PARTITION BY account_id ORDER BY DATE_TRUNC('year',occurred_at))
```

- OVER - PARTITION BY; ORDER BY
- ROW_NUMBER()
- SUM(), COUNT(), AVG(), MIN(), MAX()
- LAG(), LEAD()
- NTILE(*# of buckets*)

***

# Advanced SQL

- INNER JOIN
- LEFT JOIN
- RIGHT JOIN
- FULL OUTER JOIN
- FULL OUTER JOIN WHERE A.key IS NULL OR B.key is NULL

- Inequality JOIN: Joining without an Equal sign
- [Self JOIN](https://www.postgresql.org/docs/8.2/functions-datetime.html): Join table to itself
- UNION: Append data at the end of the table

## Performance Tuning
- Can control or Reduce no. of calculations
    - Table size
    - Joins
    - Aggregations
- Can't really control
    - Database software and optimization
    - Other users running queries concurrently

- If we have time series data, LIMIT the data that are pulled.
- Reduce the table sizes before JOINING. (Aggregating before Joining)
- Can use 'EXPLAIN' to get query plan on how it is executed
- Joining subqueries can be particularly helpful

### Additional Practice:
- HackerRank
- ModeAnalytics
- AnalyticsVidya